.header {
    align-items: center;
    background: #3f51b5;
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 501;
    width: 100%;
}
.mobile-header {
    background-color: #3f51b5;
}
.mobile-header .top-menu {
    padding: 0 2rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    height: 7rem;
    line-height: 7rem;
    display: flex;
    justify-content: space-between;
}
.mobile-header .top-menu button {
    font-size: 1.6rem;
}
.mobile-header .top-menu > button {
    margin-left: -1.8rem;
}
.mobile-header .top-menu > a {
    align-items: center;
    justify-content: center;
    display: flex;
}
.mobile-header .top-menu > a img {
    margin-left: 0;
}
.mobile-header .top-menu > div {
    margin-right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-header .top-menu > div button {
    width: 30px;
}
.mobile-header .menus-list {
    padding: 0 2rem;
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.08);
    height: 7rem;
    display: flex;
    justify-content: space-between;
}
.mobile-header .menus-list > div:first-child {
    padding-left: 0;
    overflow-x: auto;
    height: inherit;
}
.mobile-header .menus-list > div:last-child {
    padding-left: 0;
    margin-right: -2rem;
}
.mobile-header .menus-list > div:last-child button {
    margin-right: 0 !important;
    width: 0;
    padding: 0 2.3rem;
}
.mobile-header .menus-list button {
    min-width: inherit;
    max-width: inherit;
    height: 100%;
    padding: 0 2.5rem;
    font-size: 1.6rem;
}
@media (max-width: 479px) {
    html, body {
        font-size: 62.5%;
    }
}