.home .top-statistics{
    margin-top: 0;
}
.home .top-statistics > div {
    padding: 14px;
}
.home .bottom-content > div:first-child {
    padding: 0 16px 0 14px;
}
.home .bottom-content .home-bg {
    height: 250px;
    background: url(../images/userbg.png) no-repeat center;
    background-size: 100% 100%;
}
.home .bottom-content .home-bg > div{
    background: rgba(60, 141, 209, .8);
    height: 250px;
    position: relative;
}
.home .bottom-content .home-bg > div > button{
    position: absolute;
    right: 30px;
    bottom: -30px;
    width: 60px;
    height: 60px;
    z-index: 5;
}
.home .bottom-content .home-bg > div > h4{
    color: rgb(255, 255, 255);
    letter-spacing: 0.9px;
    font-size: 18px;
    padding-left: 30px;
    padding-top: 24px;
    font-weight: 500;
}
.home .bottom-content .home-bg > div > div{
    padding-left: 103px;
    padding-top: 56px;
}
.home .bottom-content .home-bg > div .img{
    float: left;
    width: 96px;
    height: 96px;
    border-radius: 50%;
}
.home .bottom-content .home-bg > div .img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.home .bottom-content .home-bg > div .intro{
    float: left;
    padding-left: 12px;
}
.home .bottom-content .home-bg > div .intro h3{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.2px;
    padding-top: 14px;
    padding-bottom: 8px;
}
.home .bottom-content .home-bg > div .intro p a{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}
.home .bottom-content .teamBox {
    min-height: 72px;
    padding: 0 30px;
    margin-top: 0;
    margin-bottom: 0;
}
.home .bottom-content .teamBox div {
    padding: 10px 20px;
    width: auto;
    max-width: none;
    flex-basis: auto;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.home .bottom-content .teamBox div:after {
    content: '|';
    position: absolute;
    right: 0;
}
.home .bottom-content .teamBox div:last-child:after {
    content: '';
}
.home .bottom-content ul li span {
    font-size: 12px;
    color: #808080;
    min-height: inherit;
    min-width: inherit;
    border-radius: 0;
    line-height: 12px;
    cursor: pointer;
    margin-right: 19px;
}
.home .bottom-content ul li span:hover {
    color: #3f51b5;
}
.home .bottom-content .thank-content {
    height: 62px;
    line-height: 62px;
    font-size: 12px;
    margin: 0 30px;
    border-top: 1px solid rgba(0, 0, 0, .1);
}
.home .bottom-content .thank-content a {
    color: #3f51b5;
}
.home .bottom-content .thank-content .line {
    padding: 0 6px;
}
.home .version-information > p {
    font-size: 24px;
    height: 82px;
    line-height: 82px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.home .version-information > p span {
    color: #3f51b5;
    float: right;
}
.home .version-information > div {
    padding-top: 20px;
}
.home .version-information > div p{
    line-height: 32px;
    color: #808080;
    font-size: 12px;
}
.home .version-information > div p span:first-child{
    width: 29.1%;
    display: inline-block;
}
.home .bottom-content > div:last-child {
    padding: 0 12px 0 14px;
}
.home .bottom-content > div > div {
    min-height: 385px;
}