.main-view {
    overflow-x: hidden;
}
.main-view .view {
    margin: 0 auto;
    display: flex;
    margin-top: 70px;
    min-height: calc(100vh - 70px);
}
/*导航栏搜索图标*/
.search-icon {
    position: absolute;
    top: 50%;
    left: 30px;
    margin-top: -12px;
    fill: #b3b3b3 !important;
    z-index: 5;
}

/*内容区*/
.content {
    width: 100%;
    padding: 30px;
    overflow-x: hidden;
    transition: width 225ms;
    margin-left: 90px;
}
.move-content {
    margin-left: 260px;
    transition: margin-left 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
@media (max-width: 479px) {
    .content {
        width: 100%;
        padding: 10px;
        margin-left: 0;
    }
    .move-content {
        transform: translateX(260px);
        transition: all 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    }
}