body {
    font-family: "Source Sans Pro",
    "Helvetica Neue",
    Helvetica,Roboto,
    "Segoe UI",
    Arial,
    "PingFang SC",
    "Hiragino Sans GB",
    "Heiti SC",
    "Microsoft YaHei",
    "WenQuanYi Micro Hei",
    sans-serif;
}
.crumbs {
    color: #333;
    font-size: 12px;
    padding-top: 30px;
}
.title {
    font-size: 18px;
    margin-bottom: 27px;
    margin-top: 10px;
    font-weight: 600;
}
#root {
    height: inherit;
}
.header-search {
    position: inherit !important;
}
.header-search > div {
    top: 0 !important;
    left: 0 !important;
    width: 330px;
    height: 70px;
}
.header-search > div > ul {

}
.top-action-module {
    position: relative;
}
.top-action-module .btn-group {
    position: absolute;
    right: 0;
    top: 36px;
}
.top-action-module .btn-group button{
    font-size: 16px;
}
