body {
    font-family: "Source Sans Pro",
    "Helvetica Neue",
    Helvetica,Roboto,
    "Segoe UI",
    Arial,
    "PingFang SC",
    "Hiragino Sans GB",
    "Heiti SC",
    "Microsoft YaHei",
    "WenQuanYi Micro Hei",
    sans-serif;
}
/*面包屑导航*/
.crumbs {
    color: #808080;
    font-size: 12px;
}
.title {
    font-size: 18px;
    margin-bottom: 24px;
    margin-top: 5px;
    font-weight: 600;
}
/*表格顶部按钮操作*/
.top-action-module .btn-group {
    margin-top: 8px;
}
.top-action-module .btn-group button{
    font-size: 16px;
}

/*表格侧边栏input搜索*/
.search-side {
    width: 0 !important;
}
.search-side > div:first-child{
    width: 0;
}
.search-side > div:nth-child(2){
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.1);
    top: 70px;
}
.search-side-content {
    width: 260px;
    height: 100%;
}
.search-side-content > div {
    box-shadow: none;
}
.move-cms {
    margin-right: 264px;
}
/*表格顶部input搜索*/
.input-search-module {
    display: inline-block;
    position: relative;
    top: -4px;
    right: 0;
}
.input-search-module > button {
    position: absolute;
    right: 12px;
    top: 8px;
    cursor: pointer;
    width: 24px;
    height: 18px;
}
.input-search-module > button svg{
    color: #3f51b5;
    width: 1.2em;
    height: 1.2em;
}
.input-search-module .input-search:after,
.input-search-module .input-search:before {
    height: inherit !important;
}
.input-search-module .input-search input {
    font-size: 12px;
    width: 170px;
    height: 32px;
    border-radius: 16px;
    border: solid 1px #3f51b5;
    padding: 0 40px 0 12px;
    color: #808080;
}
/*顶部搜索*/
.header-search > div {
    top: 0 !important;
    left: 0 !important;
    width: 330px;
    height: 70px;
}
.searchSelect .Select-input {
    height: 70px;
}
.Select-placeholder {
    line-height: 70px;
    padding-left: 58px;
}
.Select-input > input {
    line-height: 54px;
}
.Select-arrow-zone {
    display: none;
}
.Select-clear-zone {
    width: 60px;
}
.Select-control {
    border-radius: 0;
    border: none;
    padding-left: 48px;
}
.Select-value-label {
    margin-left: 48px;
}
.Select-placeholder, .Select--single > .Select-control .Select-value {
    line-height: 70px;
}
.Select-option {
    color: #808080;
    padding: 15px 30px;
}
/*表单下拉框*/
.form-select-underline {
    font-size: 16px !important;
}
.form-select-underline:before {
    background-color: #dfdfdf !important;
}
.form-select-underline:hover:before {
    background-color: rgba(0, 0, 0, 0.87) !important;
}
#menu-type > div > ul {
    max-height: 300px;
}
#menu-type .input-drop-paper {
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}
/*日期组件*/
.data-picker {
    position: absolute !important;
    width: 100%;
    bottom: 0;
}
.data-picker > div:before {
    background-color: #dfdfdf;
    height: 0;
}
.data-picker > div > div {
    margin-left: 8px;
    height: 34px;
}
.data-picker > div > div > button {
    height: inherit;
}
.data-picker input {
    font-size: 16px;
    opacity: 0;
}
/*颜色选择组件*/
.form-color-picker > span {
    width: 100%;
    position: absolute;
    top: 16px;
    opacity: 0;
    height: 30px;
}
/*图片上传*/
.upload-image {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    margin-top: 16px;
    opacity: 0;
}
/*消息提醒*/
.message-snack-bar > div {
    background-color: #fff;
    color: inherit;
    font-size: 14px;
}
/*disabled button*/

.disabled-btn {
    background: none !important;
    border: 1px solid #e0e0e0;
}
.error-prompt > div{
    background: #ff1744 !important;
}
/*tab样式*/
.paper-tabs {
    border-bottom: 1px solid #e0e0e0;
}
.paper-tabs .paper-tab{
    min-height: 54px;
    min-width: 96px;
}
.paper-tab > span > div > span {
    font-size: 14px;
}
@media (max-width: 479px) {
    /*顶部按钮操作*/
    .top-action-module .title {
        margin-bottom: 14px;
    }
    .top-action-module .btn-group {
        margin-top: 8px;
        margin-bottom: 20px;
    }
    .input-search-module .input-search input {
        width: 135px;
    }
    /*搜索侧边栏*/
    .search-side > div:first-child {
        width: 100%;
        top: 14rem;
    }
    .search-side > div:nth-child(2){
        top: 14rem;
    }
    .move-cms {
        margin-right: 0;
    }
}
@media (max-width: 768px) {
    .search-side > div:nth-child(2){
        top: 140px;
    }
}