.sideBar {
    color: #9ea7b4 !important;
    width: 260px;
    height: 100%;
    min-height: calc(~ "100% - 70px");
    background-color: #ffffff;
    box-shadow: 3px 0 15px 0 rgba(0, 0, 0, 0.1);
}
.sideBar a {
    display: block;
    width: 100%;
    height: inherit;
    font-size: 14px;
}
.sideBar a > div {
    height: inherit;
}
.sideBar a > div h3 {
    line-height: 40px;
    color: #808080;
}
.sideBar .userBox {
    background: url("../images/userbg.png") #000000 no-repeat center center;
    height: 139px;
}

.sideBar .user-right {
    color: #ffffff;
    margin-top: 39px;
}

.sideBar p:nth-child(2) {
    margin-top: 9px;
    font-size: 12px;
    letter-spacing: 0.6px;
    color: rgba(255, 255, 255, 0.6);
}
.sideBar .user-right > div:last-child {
    margin-top: 15px;
}
.sideBar .badgeIcon svg {
    width: 20px;
    height: 20px;
}
.sideBar .badgeIcon span {
    top: -10px;
    right: -10px;
}
.sideBar .badgeIcon + ul {
    margin-top: 20px;
    border-top: 1px solid #e0e0e0;
}
.sideBar h3 {
    font-size: 14px;
    color: #808080;
}

.sideBar .selectBtn {
    background: #ededed;
    position: absolute;
}
.sideBar .selectBtn h3,
.sideBar .selectFirstLevelMenu h3,
.sideBar .innerRootSelect h3,
.sideBar a.innerSelectBtn h3{
    color: #333333;
}

.sideBar > div > h3 {
      color: #333333;
}