/*模态框删除*/
.dialog-content-action > div:nth-child(2) {
    min-width: 640px;
    min-height: 200px;
    border-radius: 0;
}
.dialog-content-action .dialog-title {
    padding: 0;
    text-align: right;
}
.dialog-content-action .dialog-title button{
    height: 34px;
    font-size: 20px;
}
.dialog-content-action .dialog-title button > span{
    padding-top: 10px;
}
.dialog-content-action .dialog-content {
    padding: 0 20px;
}
.dialog-content-action .dialog-content h4{
    font-size: 18px;
    font-weight: 500;
    color: #333;
    letter-spacing: 0.9px;
}
.dialog-content-action .dialog-actions{
    margin: 20px 10px 20px 20px;
}
.dialog-content-action .dialog-actions > div{
    margin-right: 10px;
}
.dialog-content-action .dialog-actions div button{
    width: 88px;
    height: 36px;
    border-radius: 4px;
}
.dialog-content-action .dialog-actions div:first-child button{
    background-color: #e3e6ea;
}
.dialog-content-action .dialog-actions div:first-child button span{
    color: #333;
    font-size: 12px;
}
.dialog-content-action .dialog-actions div:last-child button{
    background-color: #3f51b5;
}
.dialog-content-action .dialog-actions div:last-child button span{
    color: #fff;
    font-size: 12px;
}
/*消息提示模态框*/
.dialog-tip > div:nth-child(2) {
      min-height: 128px;
  }
.dialog-tip .dialog-content > p {
    padding-left: 26px;
    padding-top: 8px;
}
.dialog-tip .dialog-content h4 {
    position: relative;
    padding-left: 26px;
}
.dialog-tip .dialog-content h4 > button {
    height: inherit;
    width: inherit;
    color: #ff3300;
    font-size: 18px;
    position: absolute;
    top: 4px;
    left: 0;
}
@media (max-width: 479px) {
    .dialog-content-action > div:nth-child(2) {
        min-width: 94.6%;
    }
}