.editor {
    width: 100%;
}
.editor .edui-notadd .edui-editor {
    width: 100% !important;
    z-index: 0 !important;
}
.editor .edui-notadd .edui-toolbar .edui-combox .edui-combox-body {
    height: 24px;
}
.editor .edui-notadd .edui-toolbar .edui-combox-body .edui-arrow::after {
    height: 22px;
    line-height: 20px;
}
.editor .edui-notadd .edui-toolbar .edui-combox-body .edui-arrow {
    line-height: 0.5 !important;
}
.editor .edui-notadd .edui-editor-toolbarbox {
    position: relative !important;
}
.editor .edui-notadd .edui-editor-iframeholder {
    width: 100% !important;
    height: 340px !important;
}
.editor > span {
    display: block;
    color: #3f51b5;
    margin-top: 6px;
    margin-bottom: 34px;
    font-size: 12px;
    cursor: pointer;
}
@media (max-width: 479px) {
    .grid-editor-module {
        padding-right: 12px !important;
    }
}